{% extends 'main.html' %}
{% load static%}

{% block content %}
<head>
    <style>
        .card{
            background-color: #f8f9fa;
        }
    </style>
</head>
<div class="col-6 offset-3">
    <div class="card">
        <div class="card-body">
            <h3 class="text-center">Login</h3>
            <form method="POST" action="">
                {% csrf_token %} 
                    <div class="form-group">  
                    <label for="id_email">Username</label>  
                    <input type="username" class="form-control" id="id_email" name="username">  
                    </div>  
                    <div class="form-group">  
                    <label for="id_password">Password</label>  
                    <input type="password"  class="form-control" id="id_password" name="password">  
                    </div><br>
                    <button type="submit" class="btn btn-success rounded-5 ">Submit</button>  

                <p class="text-center">Do not have an account<a href='{% url "register" %}' class="text-danger">   Register</a></p>
            </form>
        </div>
    </div>
</div>
{% endblock %}