{% extends "base.html" %}

{% block title %}
    Signup
{% endblock title %}
{% block content %}
<div class="col-6 offset-3 mt-1">
    <div class="card">
        <div class="card-body">
 <h2 class="my-5 text-center" style="text-decoration:underline;">signup</h2>
                <div class='col-9 offset-1'>
        <form action="" method="POST" novalidate>
            {% csrf_token%}
            {% for fm in form %}
            {{fm.label_tag }}{{fm}} <small class="text-danger">{{fm.errors|striptags}}</small><br>
            {% endfor %}
            {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <span class="text-danger">{{error}}</span>
                    {% endfor %}
                {% endif %}
                <hr>
                <div class='field'>
                    <label>Account Type </label>
                    <div class="control">
                        <div class="select">
                            <select name="account_type">
                                <option value="jobseeker" selected> jobseeker</option>
                                <option value="employer"> employer</option>
                            </select>
                        </div>
                    </div>
                </div><br>
                <input type="submit" valu="Sign up" class="btn btn-primary">
        </form>
    </div>

</div>
</div>
 </div>
 {% endblock content %}